<Html>

	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<title>Authorization</title> <!-- Название страницы -->
		{% load static %} 
		<link rel="stylesheet" type="text/css" href="{% static 'css/Authorization.css' %}"> <!-- Подключение css -->
	</head>


	<body>
		<h1 class = "title">Пройдите авторизацию</h1>
		<div class = "login">
			<form class="form1">
					<input class="input_login" type="text" placeholder="Введите логин"> <!-- Поле ввода -->
			</form>
		</div class = "Login">
		<div class = "passwd">
			<form class="form1">
				<p class="input_title"></p> <!-- input типа заявки -->
					<input type="password" class="input_passwd" placeholder="Введите пароль">
			</form>
		</div class = "passwd">
			<div class = "button">
				<a href="{% url 'request' %}"><button>Авторизоваться</button></a>  <!-- костыль (сделал через url.py)-->
			</div class= "button">
		</div>
		<!-- <script src="script.js"></script> Подключение javascript -->
	</body>
	
</Html>